<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        body {
            color: #333;
        }
        #text{color: #666;}
        .content {color: #00f;}
        .gray {color: #f00;}
    </style>
</head>
<body>
    <p>welcome to test page</p>
    <table cellspacing="30">
        <tr>
            <td colspan="2" align="center">姓名</td>
        </tr>
        <tr>
            <td rowspan="2" align="center">成绩</td>
            <td align="center">ddddd</td>
        </tr>
    </table>
    <input type="text" maxlength="2">
    <p id="text" class="content gray">wwww</p>
</body>
</html>